<template>
  <map-container>
    <template v-slot:search>
      <search-bar />
    </template>

    <template v-slot:bluebar>
      <blue-bar />
    </template>

    <template v-slot:info>
      <info-card />
    </template>

    <template v-slot:bottom>

      <bottom-bar />
    </template>

  </map-container>
</template>

<script>
import BottomBar from "../components/mapview/BottomBar";
import InfoCard from "../components/mapview/InfoCard";
import SearchBar from "../components/mapview/SearchBar.vue";
import MapContainer from "../components/mapview/Map.vue";
import BlueBar from "../components/mapview/BlueBar.vue";
export default {
  name: "map-view-page",
  components: {
    BottomBar,
    InfoCard,
    MapContainer,
    SearchBar,
    BlueBar,
  },
};
</script>

<style>
</style>