<template>
  <svg
    v-if="name==='menu'"
    width="20"
    height="16"
    viewBox="0 0 20 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 1.77778C0 0.795938 0.895431 0 2 0H18C19.1046 0 20 0.795938 20 1.77778C20 2.75962 19.1046 3.55556 18 3.55556H2C0.895431 3.55556 0 2.75962 0 1.77778Z"
      fill="#06205C"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 14.2222C0 13.2404 0.895431 12.4444 2 12.4444H18C19.1046 12.4444 20 13.2404 20 14.2222C20 15.2041 19.1046 16 18 16H2C0.895431 16 0 15.2041 0 14.2222Z"
      fill="#06205C"
    />
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M0 8.00001C0 7.01817 0.895431 6.22223 2 6.22223H18C19.1046 6.22223 20 7.01817 20 8.00001C20 8.98185 19.1046 9.77778 18 9.77778H2C0.895431 9.77778 0 8.98185 0 8.00001Z"
      fill="#06205C"
    />
  </svg>

  <svg
    v-if="name==='storemenu'"
    width="20"
    height="17"
    viewBox="0 0 20 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.168 17V10.625C9.168 10.5315 9.146 10.4397 9.104 10.353C9.063 10.268 9.001 10.1898 8.924 10.1235C8.846 10.0581 8.754 10.0062 8.654 9.9705C8.552 9.9348 8.444 9.9161 8.334 9.9161H4.169C4.059 9.9161 3.951 9.9348 3.849 9.9705C3.749 10.0062 3.657 10.0581 3.579 10.1235C3.502 10.1898 3.441 10.268 3.399 10.353C3.357 10.4397 3.336 10.5315 3.336 10.625V17H1.668C1.558 17 1.45 16.9813 1.349 16.9456C1.249 16.9099 1.156 16.8581 1.079 16.7926C1.001 16.7263 0.94 16.6481 0.899 16.5631C0.857 16.4764 0.835 16.3846 0.835 16.2911V8.37675C1.102 8.4575 1.384 8.49915 1.668 8.5H4.168C4.784 8.5 5.378 8.30705 5.836 7.9577C6.294 8.3079 6.887 8.50085 7.503 8.5H12.505C13.12 8.5 13.713 8.30705 14.171 7.9577C14.629 8.30705 15.222 8.50085 15.838 8.5H18.338C18.622 8.5 18.904 8.4575 19.172 8.37675V16.2911C19.172 16.479 19.084 16.6592 18.927 16.7926C18.771 16.9244 18.559 16.9992 18.339 17H9.168ZM10.835 10.625V12.75C10.835 12.9387 10.922 13.1189 11.078 13.2515C11.235 13.3841 11.446 13.4589 11.668 13.4589H15.834C16.055 13.4589 16.267 13.3841 16.424 13.2515C16.579 13.1189 16.667 12.9387 16.667 12.75V10.625C16.667 10.5315 16.646 10.4397 16.604 10.3539C16.562 10.268 16.501 10.1898 16.424 10.1244C16.346 10.0581 16.254 10.0053 16.153 9.9705C16.052 9.9348 15.943 9.9161 15.834 9.9161H11.667C11.558 9.9161 11.45 9.9348 11.349 9.9705C11.248 10.0062 11.156 10.0581 11.079 10.1235C11.001 10.1898 10.939 10.268 10.898 10.3539C10.856 10.4397 10.835 10.5324 10.835 10.625V10.625ZM15.836 7.79195C15.394 7.79195 14.97 7.64235 14.658 7.3763C14.345 7.1111 14.17 6.7507 14.17 6.375C14.17 6.56115 14.127 6.74475 14.043 6.9173C13.959 7.089 13.836 7.2454 13.682 7.3763C13.527 7.50805 13.343 7.6126 13.141 7.684C12.939 7.7554 12.721 7.79195 12.503 7.79195H7.501C7.282 7.79195 7.066 7.75455 6.863 7.684C6.661 7.6126 6.477 7.50805 6.323 7.3763C6.168 7.24455 6.045 7.089 5.961 6.9173C5.878 6.74475 5.835 6.5603 5.835 6.375C5.835 6.7507 5.659 7.1111 5.346 7.3763C5.034 7.64235 4.61 7.79195 4.168 7.79195H1.667C1.225 7.79195 0.801 7.64235 0.488 7.3763C0.176 7.1111 0 6.7507 0 6.375V5.66695H20V6.375C20 6.7507 19.824 7.1111 19.512 7.3763C19.199 7.64235 18.775 7.79195 18.333 7.79195H15.836V7.79195ZM14.853 4.95805L13.686 0H17.503C17.684 0 17.86 0.051 18.005 0.1428C18.149 0.2363 18.255 0.36635 18.304 0.51425L19.798 4.9589H14.853V4.95805ZM6.853 4.95805L8.022 0H11.988L13.155 4.95805H6.855H6.853ZM0.209 4.95805L1.703 0.5134C1.753 0.3655 1.857 0.23545 2.002 0.1428C2.146 0.05015 2.322 0 2.502 0H6.32L5.153 4.95805H0.209V4.95805Z"
      fill="#06205C"
    />
  </svg>
  <svg
    v-if="name==='clock'"
    fill="currentColor"
    width="20"
    height="17"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0)">
      <path d="M8.51595 17C6.83188 17.0053 5.18395 16.5091 3.78251 15.5762C2.38107 14.6423 1.28882 13.3131 0.644948 11.7576C0.001073 10.2 -0.165739 8.48937 0.166823 6.83825C0.498323 5.18712 1.31432 3.672 2.50857 2.48625C4.10126 0.894625 6.2592 0 8.5117 0C10.7621 0 12.9211 0.894625 14.5138 2.48625C16.1054 4.07787 17 6.23687 17 8.48831C17 10.7397 16.1054 12.8977 14.5138 14.4914C13.7296 15.2851 12.7957 15.9152 11.7661 16.3466C10.7366 16.7769 9.63157 16.9989 8.51488 17H8.51595ZM4.22345 8.22056C4.06195 8.22056 3.90789 8.28431 3.7942 8.398C3.68051 8.51169 3.61676 8.66575 3.61676 8.82725C3.61676 8.98662 3.68051 9.14175 3.7942 9.25544C3.90789 9.36913 4.06195 9.43288 4.22238 9.43288H8.50745C8.5882 9.43394 8.66788 9.41906 8.74226 9.38825C8.81663 9.3585 8.88463 9.31281 8.94201 9.25544C8.99832 9.19806 9.04295 9.13006 9.0727 9.05463C9.10138 8.98025 9.1152 8.8995 9.11307 8.81875V3.27887C9.11307 3.1195 9.04932 2.96438 8.93563 2.85069C8.82195 2.737 8.66788 2.67325 8.50745 2.67325C8.34701 2.67325 8.19188 2.737 8.0782 2.85069C7.96451 2.96438 7.90076 3.11844 7.90076 3.27887V8.22056H4.22238H4.22345Z" />
    </g>
  </svg>
  <svg
    v-if="name==='locationsmall'"
    width="13"
    height="13"
    viewBox="0 0 12 12"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M6.00025 0C3.60388 0 1.6543 1.94958 1.6543 4.34592C1.6543 7.31985 5.5435 11.6857 5.7091 11.8702C5.8646 12.0434 6.13615 12.0431 6.2914 11.8702C6.457 11.6857 10.3462 7.31985 10.3462 4.34592C10.3461 1.94958 8.3966 0 6.00025 0ZM6.00025 6.5325C4.79457 6.5325 3.81371 5.5516 3.81371 4.34592C3.81371 3.14025 4.7946 2.15939 6.00025 2.15939C7.2059 2.15939 8.18675 3.14027 8.18675 4.34594C8.18675 5.5516 7.2059 6.5325 6.00025 6.5325Z" />
  </svg>

  <svg
    v-if="name=='clocksmall'"
    width="12"
    height="12"
    viewBox="0 0 12 12"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0)">
      <path d="M6.01122 12C4.82247 12.0037 3.65922 11.6535 2.66997 10.995C1.68072 10.3357 0.909716 9.3975 0.455216 8.2995C0.00071612 7.2 -0.117034 5.9925 0.117716 4.827C0.351716 3.6615 0.927716 2.592 1.77072 1.755C2.89497 0.6315 4.41822 0 6.00822 0C7.59672 0 9.12072 0.6315 10.245 1.755C11.3685 2.8785 12 4.4025 12 5.99175C12 7.581 11.3685 9.10425 10.245 10.2292C9.69147 10.7895 9.03222 11.2343 8.30547 11.5388C7.57872 11.8425 6.79872 11.9992 6.01047 12H6.01122ZM2.98122 5.80275C2.86722 5.80275 2.75847 5.84775 2.67822 5.928C2.59797 6.00825 2.55297 6.117 2.55297 6.231C2.55297 6.3435 2.59797 6.453 2.67822 6.53325C2.75847 6.6135 2.86722 6.6585 2.98047 6.6585H6.00522C6.06222 6.65925 6.11847 6.64875 6.17097 6.627C6.22347 6.606 6.27147 6.57375 6.31197 6.53325C6.35172 6.49275 6.38322 6.44475 6.40422 6.3915C6.42447 6.339 6.43422 6.282 6.43272 6.225V2.3145C6.43272 2.202 6.38772 2.0925 6.30747 2.01225C6.22722 1.932 6.11847 1.887 6.00522 1.887C5.89197 1.887 5.78247 1.932 5.70222 2.01225C5.62197 2.0925 5.57697 2.20125 5.57697 2.3145V5.80275H2.98047H2.98122Z" />
    </g>
  </svg>

  <svg
    v-if="name==='location'"
    xmlns="http://www.w3.org/2000/svg"
    width="16"
    height="22"
    fill="none"
    viewBox="0 0 16 22"
  >
    <path
      fill="#fff"
      d="M7.713 0C5.67.002 3.708.815 2.263 2.26.816 3.707.002 5.668 0 7.712c0 5.277 6.9 13.024 7.195 13.35.065.073.145.131.234.17.089.04.185.061.283.061.097 0 .194-.02.283-.06.089-.04.168-.098.234-.17.294-.328 7.195-8.075 7.195-13.35-.003-2.045-.816-4.005-2.261-5.45C11.717.816 9.758.002 7.713 0zm0 11.591c-.767 0-1.517-.227-2.155-.653-.638-.427-1.135-1.033-1.43-1.742-.293-.709-.37-1.489-.22-2.241.15-.753.52-1.444 1.062-1.987.543-.543 1.234-.912 1.987-1.062.752-.15 1.532-.073 2.241.22.71.295 1.315.792 1.742 1.43.426.638.654 1.388.654 2.155-.002 1.03-.41 2.015-1.138 2.743-.728.727-1.714 1.136-2.742 1.137z"
    />
  </svg>

  <svg
    v-if="name==='info'"
    xmlns="http://www.w3.org/2000/svg"
    width="10"
    height="21"
    fill="none"
    viewBox="0 0 10 21"
  >
    <path
      fill="#fff"
      d="M8.789 18.304l-.287 1.172c-.86.34-1.546.598-2.058.776-.576.188-1.18.278-1.785.267-.876.053-1.74-.218-2.429-.762-.28-.238-.502-.535-.652-.87-.15-.334-.223-.698-.215-1.065 0-.311.022-.622.065-.93.044-.319.114-.677.21-1.076l1.075-3.804c.095-.365.176-.71.241-1.036.063-.294.097-.592.1-.892.02-.18.004-.364-.048-.538-.051-.175-.137-.338-.251-.479-.337-.23-.745-.332-1.15-.287-.29.002-.578.046-.855.13-.292.087-.542.17-.75.25l.287-1.172c.705-.287 1.378-.532 2.022-.736.59-.196 1.206-.3 1.827-.307.863-.056 1.716.211 2.393.75.275.243.493.544.638.88.146.338.214.703.202 1.07 0 .166-.018.457-.058.873-.033.389-.106.773-.215 1.148L6.019 15.45c-.096.344-.175.692-.234 1.044-.06.292-.095.588-.105.886-.023.185-.004.374.054.552.058.178.155.34.283.477.35.215.761.311 1.171.274.3-.007.598-.053.885-.137.245-.063.484-.143.716-.242zM9.06 2.396c.004.319-.061.634-.19.926-.13.29-.32.55-.56.762-.485.46-1.133.712-1.802.7-.672.011-1.322-.24-1.812-.7-.24-.21-.432-.47-.563-.761-.13-.292-.196-.608-.193-.927-.003-.32.064-.636.194-.929.13-.292.322-.552.562-.764C5.189.251 5.834 0 6.504 0c.669 0 1.314.25 1.807.703.238.212.429.473.558.765.13.292.195.609.191.928z"
    />
  </svg>

  <svg
    v-if="name==='barcode'"
    width="16"
    height="16"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M6.458 1.876H1.876v4.582h4.582V1.876zM5.521 5.52H2.813V2.813h2.708v2.708z" />
    <path d="M3.698 3.698h.938v.938h-.938v-.938zM1.876 14.124h4.582V9.542H1.876v4.582zm.937-3.645h2.708v2.708H2.813v-2.708zM14.124 10.01h-.937v3.177h-.918v-.697h-.937v.697h-1.145v.937h3.938v-4.113z" />
    <path d="M3.698 11.364h.938v.938h-.938v-.938zM14.125 1.876H9.543v4.582h4.582V1.876zm-.937 3.645H10.48V2.813h2.708v2.708z" />
    <path d="M11.365 3.698h.938v.938h-.938v-.938zM3.75 7.531h2.708v.938H3.75V7.53zM1.875 7.531h.937v.938h-.937V7.53zM7.396 7.531h3.488v.938H7.396V7.53zM14.125 9.073V7.531H11.82v.938h1.366v.604h.938zM7.532 3.75h.938v2.708h-.938V3.751zM7.532 1.876h.938v.937h-.938v-.937zM8.47 12.25h.697v-.938H8.47v-1.77h-.938v4.582h1.719v-.937H8.47v-.938zM10.394 11.177h.938v-.698h.76v-.937H9.634v.937h.76v.698zM12.719.001v.937h2.344v2.344h.938V.001h-3.282zM.937.938h2.345V0H0v3.282h.937V.938zM15.063 15.062H12.72v.937H16v-3.28h-.938v2.343zM.937 12.718H0V16h3.282v-.937H.937v-2.344z" />
  </svg>
</template>

<script>
export default {
  name: "Icons component",
  props: ["name"],
};
</script>

<style>
</style>