<template>
  <div class="flex items-center  shadow-md space-x-3  px-4 rounded-lg bg-app-blue  text-white  bg-opacity-80  h-full">
    <!-- info bar header blue -->
    <div class="w-21 h-12 flex items-center">
      <!-- clock -->
      <Icons name="clock" />
    </div>
    <div class="flex items-center justify-between w-full ">
      <div class="font-bold text-xs ">0시간 1분 이용중</div>
      <div class="font-thin text-x ">*배터리 대여 후 첫 3분은 무료입니다.</div>
    </div>

  </div>
</template>

<script>
import Icons from "../../utils/Icons.vue";
export default {
  name: "blubBar",
  components: {
    Icons,
  },
};
</script>

<style>
</style>