<template >
  <div class=" w-full h-full flex items-center justify-between space-x-4">
    <button class="h-full focus:outline-none ">

      <div class="flex items-center justify-center bg-app-blue  w-app-primary h-full text-white rounded-md shadow-md ">
        <Icons name="location" />
      </div>
    </button>
    <div class=" flex items-center w-full h-full bg-app-blue text-white text-center  rounded-md shadow-md ">
      <button class="py-2 flex justify-center items-center w-full h-full text-white   cursor-pointer space-x-3 rounded-md focus:outline-none focus:ring focus:border-blue-300 ">
        <span>
          <Icons name="barcode" />
        </span>
        <span>
          스캔
        </span>
      </button>
    </div>
    <button class="h-full focus:outline-none">

      <div class=" flex justify-center  items-center bg-app-blue  w-app-primary h-full text-white rounded-md shadow-md ">
        <Icons name="info" />
      </div>
    </button>
  </div>
</template>

<script>
import Icons from "../../utils/Icons.vue";
export default {
  name: "bottom-bar",
  components: {
    Icons,
  },
};
</script>

<style>
</style>