<template>

  <div class="shadow-md rounded-lg flex justify-between bg-white py-2 h-card">
    <div class="flex items-center rounded pl-2">
      <img
        src="https://specials-images.forbesimg.com/imageserve/528795452/960x0.jpg?fit=scale"
        alt=""
        class="w-28 h-24 rounded-md object-cover flex"
      >
    </div>
    <div class="mr-6 space-y-3">
      <div class="flex py-1 justify-between items-center">
        <div class="flex items-center space-x-1 ">
          <div class="text-app-blue">
            <Icons name="locationsmall" />
          </div>
          <div class="text-x mx-1 text-app-blue">
            5489.132km
          </div>
        </div>
        <div>
          <div class="flex items-center space-x-2">
            <div class="text-app-blue">
              <Icons name="clocksmall" />
            </div>
            <div class="text-x mx-1 text-app-blue ">
              08:00 - 18:00
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-1">
        <div class="font-bold text-sm  text-app-blue"> 서울랜드</div>
        <div class="text-xs text-app-blue">경기도 과천시 막계동 광명로 181</div>
      </div>
      <div class="flex justify-between">
        <div class="text-app-blue text-sm"> <span class="font-bold"> 6</span> 대여가능 </div> <span class="text-gray-300">|</span>
        <div class="text-app-blue text-sm"> <span class="font-bold"> 0</span> 반납가능</div>
      </div>
    </div>
  </div>
</template>

<script>
import Icons from "../../utils/Icons";
export default {
  name: "info-card",
  components: {
    Icons,
  },
};
</script>

<style>
</style>