<template>

  <div class="auto bg-gray-100 w-app-w h-app-h mx-auto px-6">
    <div class="py-6 mx-auto space-y-5">
      <div class="h-app-primary">
        <slot name="search"></slot>
      </div>
      <div class="h-app-primary">
        <slot name="bluebar" />
      </div>

      <slot name="info"></slot>
      <!-- bottom -->
      <div class="absolute bottom-10 left-0 w-full h-app-primary px-6">
        <slot name="bottom"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "maps",
};
</script>

<style>
</style>