<template>
  <div class="flex items-center h-full relative">
    <div class="absolute left-3">
      <Icons
        name="menu"
        class="mx-6 my-4"
      />
    </div>
    <input
      type="text"
      class="shadow-md inline-block rounded-xl w-full px-12 py-3 content-center outline-none"
      placeholder="검색"
    >
    <div class="flex flex-1 items-center justify-center shadow-md rounded-xl bg-white  h-full w-app-primary ml-3 px-4 ">
      <Icons name="storemenu" />
    </div>
  </div>
</template>

<script>
import Icons from "../../utils/Icons";
export default {
  name: "search-bar",
  components: {
    Icons,
  },
};
</script>

<style>
</style>